.required-field {
    color: #ff1437;
    font-weight: bold;
}

.validation-error {
    color: #c5191c;
}

#comments-wrapper {
    font-family: Calibri;
    color: #3c040d;
    margin-left: 15%;
}

.comment-parent {
     width: 80%;
     height: auto;
     border: 1px solid gainsboro;
     background-color: #f3f3f3;
     margin-top: 25px;
     padding: 8px 12px 8px 12px;
     border-radius: 5px;
 }

.comment-child {
    width: 70%;
    margin-left: 10%;
    height: auto;
    border: 1px solid gainsboro;
    background-color: #fafafa;
    margin-top: 10px;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    font-size: 14px;
}

.comment-parent .comment-name {
    font-size: 17px;
}

.comment-child .comment-name {
    font-size: 15px;
}

.comment-name {
    font-weight: bold;
}

.comment-text {
    text-align: justify;
    margin-top: 8px;
}

.comment-reply {
    float: right;
}

.comment-reply a {
    color: #3c040d;
}

.comment-reply a:hover {
    color: #3c040d;
    text-decoration: underline;
}

#reply-form {
    width: 60%;
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #fcfcfc;
}

.comment-length {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.float-left {
    float: left;
}

#comment {
    position: absolute;
}

.input-error {
    border: 1px solid #c5191c;
}